@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

html[data-theme="dark"] {
  //$enable-gradients: true;

  $body-bg: #292929;
  $body-bg-rgb: 41, 41, 41;
  $body-color: #dedede;
  $border-color: lighten($body-bg, 10%);
  $input-bg: darken($body-bg, 3%);
  $active-gradient: 5%;

  $theme-colors: (
          "primary": $primary,
          "secondary": lighten($body-bg, 20%),
          "success": $success,
          "danger": $danger,
          "info": $indigo,
          "dark": $dark,
          "light": $light,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};
  --#{$variable-prefix}body-bg-rgb: #{$body-bg-rgb};

  @import "vars";
  @import "node_modules/bootstrap/scss/bootstrap";
  @import "index";
}
