@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

html[data-theme="sepia"] {
  //$enable-gradients: true;

  $body-bg: #efe7dd;
  $body-bg-rgb: 239, 231, 221;
  $body-color: darken($body-bg, 50%);
  $border-color: darken($body-bg, 20%);
  $input-bg: darken($body-bg, 10%);
  $active-gradient: 15%;

  $theme-colors: (
          "primary": $primary,
          "secondary": darken($body-bg, 35%),
          "success": $success,
          "danger": $danger,
          "info": $indigo,
          "dark": $dark,
          "light": $light,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};
  --#{$variable-prefix}body-bg-rgb: #{$body-bg-rgb};

  @import "vars";
  @import "node_modules/bootstrap/scss/bootstrap";
  @import "src/css/index";
}
