@import "node_modules/bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.min-width-0 {
    min-width: 0;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.cursor-default {
    cursor: default !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-wait {
    cursor: wait !important;
}

.cursor-text {
    cursor: text !important;
}

.scroll-pane {
    position: relative !important;
}

.scroll-pane-inner {
    overflow-y: scroll !important;
    position: absolute !important;
    max-height: 100% !important;
    width: 100% !important;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $secondary;
}

.btn-icon {
    display: inline-flex !important;
    align-content: center !important;
    justify-content: center !important;
    padding: 0.6rem 0.75rem !important;
}

a {
    text-decoration: none !important;
}
